src/main/resources/DealerPosInterface.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="web/soap/account/service/"
	targetNamespace="ws/dealerposinterface/service"
	elementFormDefault="qualified">
	<xs:element name="DecisionRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="internalProposalNumber" type="xs:long" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DecisionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>